@{
    ViewBag.Title = "Index";
}

<div class="text-center jumbotron">
    <h2>We are going to have an exiting party.</h2>
    <h3>And you are invited.</h3>

    <div class="centered">
        @Html.Action("Widgets", "Home")
    </div>


    @Html.ActionLink("RSVP Now", "RsvpForm", null, new { @class = "btn btn-success", @style = "color:white" })
    @Html.ActionLink("Guest List", "GetGuests", null, new { @class = "btn btn-primary", @style = "color:white" })

</div>



